[submodule ".config/nvim"]
	path = .config/nvim
	url = ssh@github.com/7ijme/nvim.git
[submodule ".config/starship"]
	path = .config/starship
	url = git@github.com/7ijme/starship.git
[submodule ".config/fish"]
	path = .config/fish
	url = git@github.com/7ijme/fish.git
